@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: 1200px;
  z-index: -1;
}

.header {
  font-size: 2em;
  font-weight: 400;
  z-index: 5;
}

.section-header {
  font-weight: 800;
  font-size: 5em;
  text-transform: uppercase;
}

.section-subheader {
  color: #013601;
}

.subheader-line {
  height: 2px;
  background-color: rgba(0, 255, 98, 0.5);
  margin: 2em 0;
}

.block-header {
  font-size: 1.2em;
  font-weight: 500;
}

.section-subheader {
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 800;
  color: #9c9c9c;
}

.btn {
  text-decoration: none;
  color: green;
}

.btn img {
  width: 15px;
  margin-top: auto;
}

.text {
  font-weight: 300;
}

.background {
  width: 100vw;
  height: 25em;
}

.background-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20em;
  z-index: 0;
}

.bg-first {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(87, 87, 87, 0.5)), to(rgba(87, 87, 87, 0.5))), url("../img/collective-min.jpg");
  background: linear-gradient(rgba(87, 87, 87, 0.5), rgba(87, 87, 87, 0.5)), url("../img/collective-min.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -2;
  width: 100vw;
}

.bg-second {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(87, 87, 87, 0.5)), to(rgba(87, 87, 87, 0.5))), url("../img/7474-1.jpg");
  background: linear-gradient(rgba(87, 87, 87, 0.5), rgba(87, 87, 87, 0.5)), url("../img/7474-1.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -2;
}

.bg-third {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(87, 87, 87, 0.5)), to(rgba(87, 87, 87, 0.5))), url("../img/BRD_0320-min.jpg");
  background: linear-gradient(rgba(87, 87, 87, 0.5), rgba(87, 87, 87, 0.5)), url("../img/BRD_0320-min.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -2;
}

.bg-forth {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(87, 87, 87, 0.5)), to(rgba(87, 87, 87, 0.5))), url("../img/45634-min.png");
  background: linear-gradient(rgba(87, 87, 87, 0.5), rgba(87, 87, 87, 0.5)), url("../img/45634-min.png");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -2;
}

.active {
  display: block;
}

.block {
  display: block;
}

.absolute {
  position: absolute;
  z-index: -1;
}

section.home-screen .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

section.home-screen .navbar .logo {
  width: 70px;
  height: 70px;
}

section.home-screen .primary-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.home-screen .primary-nav li {
  list-style-type: none;
  padding: 1em 2em;
}

section.home-screen .primary-nav li a {
  text-decoration: none;
  color: black;
}

section.home-screen .language-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.home-screen .language-block .icon {
  width: 30px;
  height: 30px;
  margin: auto 0;
}

section.home-screen .language-block .language-selector {
  font-size: 1em;
  margin: auto 0;
}

section.home-screen .hero-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  margin-top: -1.5em;
  z-index: 100;
  margin-bottom: 10em;
}

section.home-screen .hero-header .section-header {
  color: white;
  margin: 0;
}

section.home-screen .hero-header .section-header span {
  color: #013601;
}

section.home-screen .hero-header .icon-control {
  width: 70px;
  z-index: 100;
}

section.home-screen .hero-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  padding: 1em 0;
}

section.home-screen .hero-body .text {
  font-size: 2em;
  margin: 0;
}

.careers-body .wrapper {
  padding: 4em 0;
  padding-top: 0;
}

.careers-body .wrapper .left-col {
  margin: auto 0;
  padding-right: 5em;
}

.careers-body .wrapper .col__text {
  font-size: 3em;
  font-weight: 400;
  text-align: center;
}

.careers-body .wrapper .col__text span {
  font-style: italic;
  font-weight: 200;
}

.careers-body .wrapper .col__subtext {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-weight: 300;
}

.careers-body .wrapper .col__img {
  width: 450px;
  height: 500px;
  background: url("../img/hands2-min.jpg");
  background-size: cover;
  background-position: center;
}

.careers-body .right-col {
  margin-top: 5em;
}

.careers-body .right-col .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.careers-body .right-col .block {
  width: 28%;
}

.careers-body .right-col .block__bg {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.101)), to(rgba(0, 0, 0, 0.574))), url("../img/hands2-min.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.101), rgba(0, 0, 0, 0.574)), url("../img/hands2-min.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 18em;
  padding-left: 1.5em;
}

.careers-body .right-col .block__bg-social {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.101)), to(rgba(0, 0, 0, 0.574))), url("../img/collective-min.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.101), rgba(0, 0, 0, 0.574)), url("../img/collective-min.jpg");
  background-position: center;
}

.careers-body .right-col .block__bg-people {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.101)), to(rgba(0, 0, 0, 0.574))), url("../img/main-block.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.101), rgba(0, 0, 0, 0.574)), url("../img/main-block.jpg");
  background-position: center;
}

.careers-body .right-col .block__header {
  font-size: 1.7em;
  font-weight: 400;
  color: white;
}

.careers-body .right-col .block-middle {
  margin-top: 5em;
}

.careers-body .right-col .block__arrow {
  margin-left: 75%;
  width: 70px;
}

.careers-body .right-col .block__text {
  background: rgba(235, 235, 235, 0.261);
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.careers-body .right-col .block__text__text {
  font-weight: 300;
}

section.items {
  background-color: rgba(145, 145, 145, 0.042);
}

section.items .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  padding: 5em 0;
}

section.items .wrapper .left-col {
  width: 50%;
  padding-right: 8em;
}

section.items .wrapper .left-col p {
  font-size: 1.4em;
  font-weight: 300;
}

section.items .wrapper .right-col {
  width: 50%;
  border-left: 1px solid rgba(128, 128, 128, 0.1);
  padding-left: 4em;
}

section.items .wrapper .right-col__text-block {
  padding-bottom: 2em;
}

section.items .wrapper p.right-col__header {
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  color: #013601;
}

section.items .wrapper p.right-col__text {
  font-weight: 300;
}

section.vacancies {
  padding: 6em 0;
}

section.vacancies .vacancies__header {
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
}

section.vacancies .vacancies__subheader {
  margin: 0.5em 0;
}

section.vacancies .vacancies__header-block {
  border-bottom: 1px solid rgba(0, 128, 0, 0.371);
}

section.vacancies .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.vacancies .vacancy__block {
  width: 50%;
  padding-right: 7em;
  padding-top: 3em;
  border-bottom: 2px solid rgba(128, 128, 128, 0.331);
  padding-left: 2em;
  padding-bottom: 3em;
}

section.vacancies .vacancy__block:hover {
  border-bottom: 2px solid rgba(128, 128, 128, 0.9);
  background: rgba(128, 128, 128, 0.15);
}

section.vacancies .vacancy-block__header {
  text-transform: uppercase;
  font-weight: 500;
}

section.vacancies .vacancy-block__text {
  font-weight: 300;
}

section.vacancies .btn {
  text-transform: uppercase;
}

footer {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(87, 87, 87, 0.8))), url("../img/BRD_0320-min — copy.jpg");
  background: linear-gradient(black, rgba(87, 87, 87, 0.8)), url("../img/BRD_0320-min — copy.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding-top: 0;
  padding-bottom: 2em;
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  border-bottom: 1px solid gray;
  padding: 2em 0;
}

footer .wrapper .icon {
  width: 30px;
  height: 30px;
  margin: auto 0;
  margin-right: 1em;
}

footer .wrapper .logo {
  width: 80px;
}

footer .wrapper .left-col, footer .wrapper .right-col, footer .wrapper .contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .wrapper .contact-block {
  padding: 0 2em;
}

footer .wrapper .contact-block h3 {
  text-transform: lowercase;
}

footer .wrapper .right-col h3, footer .wrapper .left-col h3 {
  font-size: 1.5em;
}

footer .wrapper h3 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 300;
}

footer .wrapper .left-col h3 {
  text-transform: uppercase;
}

footer .wrapper ul {
  padding-left: 0;
}

footer .wrapper ul li {
  list-style-type: none;
  padding: 0.2em 0;
}

footer .wrapper ul li a {
  text-decoration: none;
  color: #b4b4b4;
}

footer .wrapper .address {
  width: 30%;
}

footer .wrapper .address .text {
  color: #b4b4b4;
}

footer .contact-body {
  padding: 5em 0;
}
/*# sourceMappingURL=careers.css.map */