@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;600;700;800&display=swap');

body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

h1 {
    font-size: 5em;
 //   color: white;
    color: black;
}

h2 {
    //color: white;
    color: black;
}

h3 {
    font-size: 1em;
   // color: white;
   color: black;
    font-weight: 400;
}

p {
   // color: white;
    color: black;
}

.logo {
    width: 80px;
}

.icon {
    width: 30px;
}

.language-block {
    margin: auto 0;
    .icon {
        margin: 0 1em;
    }
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.slider-background {
    background: linear-gradient(rgba(59, 59, 59, 0.6), rgba(59, 59, 59, 0.6)), url(../img/slider1-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   // height: 100vh;
}

.btn {
    color: white;
    text-decoration: none;
    background: rgba(5, 170, 93, 0.8);
    padding: 0.5em 2em;
}

.navbar {
    border-bottom: 1px solid white;

    .wrapper {
        display: flex;
        place-content: space-between;
    }
}

.primary-nav {
    display: flex;
    place-content: center;



    li {
        padding: 1em 2em;
        list-style-type: none;

        a {
            text-decoration: none;
            color: white;
        }
    }
}

.hero {
    height: 100%;

    h1, p {
        color: white;
    }

    .wrapper {
        display: flex;
        place-content: center;
        margin: auto 0;
    }

    .company-name {
        font-size: 5em;
    }

    .text-block {
        width: 50%;
        margin: 5em 0;
        
    }

    .number {
        .counter {
            font-size: 5em;
            

            span {
                font-size: 0.4em;
                vertical-align: top;
            }
        }
    }
}

.secondary-nav {
    // background-color: rgb(221, 220, 220);
    padding-bottom: 2em;
    margin-bottom: 5em;


    .counter {
        margin: 0;
        color:rgba(5, 170, 93, 1);
    }

    .wrapper {
        display: flex;
        place-content: space-between;
    }

    .submenu-block {
        backdrop-filter: blur(5px);
        box-shadow: 5px 5px 10px rgb(90, 89, 89);
        width: 20%;
        padding: 1em;
        border-bottom: 1px solid rgba(5, 170, 93, 1);
        &:hover {
            background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
            transition: all 3s ease;
        }

        h3 {
            color: white;
        }
    }
}

.big-header {
    color: rgb(167, 167, 167);
    font-size: 20em;
    text-align: center;
    margin: 0;
    text-shadow: 0 10px 10px gray;
}

.products-header {
    background: linear-gradient(rgba(37, 37, 37, 0.6), rgba(37, 37, 37, 0.6)), url(../img/Photo1_8.JPG);
    background-size: cover;
    background-position: bottom;
    backdrop-filter: blur(30px);

    p {
        width: 40%;
    }

    h1 {
        font-weight: 400;
    }
}

.header-block {
    padding: 10em 0;

    h1, p {
        margin: 0;
        color: white;
    }

    h1 {
        font-size: 3em;
        margin-bottom: 0.5em;
    }

    p {
        margin: auto 0;
        font-size: 1em;
    }
}

.about-blocks {
   // background: linear-gradient(rgb(49, 49, 49), white); 
   // background-color: rgb(49, 49, 49);
    .wrapper {
        display: flex;
        place-content: space-between;
        width: 100%;
        padding: 5em 0;
        box-sizing: border-box;

        .left-col {
            width: 50%;

            p {
                margin-top: 0;
            }

            h2 {
                font-size: 3em;
            }

            .icon {
                width: 50px;
            }
        }

        .right-col {
            width: 40%;

            .info-block {
                width: 100%;
                box-sizing: border-box;
                box-shadow: 5px 5px 20px rgb(2, 2, 2);

            }

            .img {
                background:linear-gradient(transparent 90%, rgba(255, 255, 255, 1.0) 95%), url(../img/main-block.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                height: 450px;
            }

            .text-block {
                padding: 1em 2em;
                background-color: rgba(255, 255, 255, 1);

                h3, p {
                    color: black;
                    margin-top: 0;
                }

                h3 {
                    color:rgba(5, 170, 93, 1);
                    font-size: 1.5em;
                    font-weight: 700;
                }

                p {
                    font-size: 1em;
                }
            }
        }

        .standards {
            margin-top: -20em;

            .img {
                background:linear-gradient(transparent 90%, rgba(255, 255, 255, 1.0) 95%), url(../img/mainblock_second.jpg);
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        .products {

            margin-top: -23em;
            .img {
                background:linear-gradient(transparent 90%, rgba(255, 255, 255, 1.0) 95%), url(../img/mainblock-third.jpg);
                background-size: cover;
                background-repeat: no-repeat;
            }
        }


    }
}

h1.header {
    font-size: 2em;
    border-bottom: 1px solid rgba(5, 170, 93, 1);
    padding-bottom: 1em;
    color: black;
    margin: 2em 0;
}



.subheader-block {
    display: flex;

    .subheader {
        font-weight: 400;
        font-size: 1em;
        //text-align: center;
        width: 50%;
    }

}

.sub-header {
    font-size: 2em;
    text-align: center;
    margin: 2em 0;
    font-weight: 400;
    display: inline-block;
    border-bottom: 1px solid rgba(5, 170, 93, 1);
}

section.tubes {
  //  background-color: rgb(231, 231, 231); 

    

    .wrapper {
        display: flex;
        place-content: space-between;
        padding: 5em 0;
        padding-top: 0;
    
        .col {
            width: 30%;
        }

        .card {
            width: 100%;
            text-align: center;
            padding: 4em 0;
            background-color: white;
            background: rgb(225,241,68);
            background: linear-gradient(135deg, rgba(120, 124, 82, 0.5) 0%, rgba(252,69,69,0.5) 100%);
            backdrop-filter: blur(30px);
            transition: 3s ease-in-out;
            box-shadow: 5px 5px 20px rgb(2, 2, 2);

            &:hover {
                background: rgb(225,241,68);
                background: linear-gradient(135deg, rgba(225,241,68,0.7) 0%, rgba(252,69,69,0.7) 100%);
            }


            img {
                width: 300px;
            }

            h3 {
                font-size: 1.5em;
                font-weight: 600;
                margin-bottom: 0;
            }

            p {
                font-size: 1em;
            }
        }

        .third-gen {
            .card {
                background: rgb(68,191,241);
                background: linear-gradient(135deg, rgba(68,191,241,0.5) 0%, rgba(69,252,124,0.5) 100%);
                transition: 3s ease-in-out;

                &:hover {
                    background: rgb(68,191,241);
                    background: linear-gradient(135deg, rgba(68,191,241,0.7) 0%, rgba(69,252,124,0.7) 100%);
                }
            }
        }

        .custom {
            .card {
                background: rgb(249,255,0);
                background: linear-gradient(135deg, rgba(249,255,0,0.5) 0%, rgba(56,189,29,0.5) 30%, rgba(48,84,146,0.5) 54%, rgba(255,0,0,0.3) 100%);

                &:hover {
                background: rgb(249,255,0);
                background: linear-gradient(135deg, rgba(249,255,0,7) 0%, rgba(56,189,29,0.7) 30%, rgba(48,84,146,0.7) 54%, rgba(255,0,0,1) 100%);
                }
            }
        }
    }
}

section.pmt {

    

    .header {
        margin-bottom: 0;
    }
    .text-block {
        display: flex;

        .left-col {
            width: 50%;
            margin: auto 0;

            p {
                width: 80%;
            }
        }

        .right-col {
            width: 50%;
            height: 400px;
            background-image: url(../img/PMT.jpg);
            background-size: cover;
            background-position: center;
        }
    }

    .aviation {
        background: url(../img/aviation.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 20em;
    }

    .lidar {
        height: 40em;
        width: 30%;
        background-image: url(../img/lasers-web_3536805_iStock_Terraxplorer.jpg);
    }

    h3 {
        margin: 0;
        color:white;
        font-weight: 300;
        font-size: 1.5em;
        backdrop-filter: blur(10px);
        background-color: rgba(59, 59, 59, 0.4);
        width: 100%;
        padding: 1em;
        box-sizing: border-box;
        transition: 2s;

        &:hover {
            height: 100%;
            text-align: center;
            margin: auto 0;
        }
    }

    .wrapper {
        width: 100%;
        display: flex;

        .applications {
            width: 70%;
        }

        .bg {
            background-image: url(../img/PMT.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 40%;
            height: 500px;
        }

        .science {
            background: url(../img/science.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 50%;
            height: 20em;
        }

        .space {
            background: url(../img/space.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 50%;
            height: 20em;
        }
    }
}

.nvd {
    .wrapper {
        display: flex;

        h3 {
            color: white;
            font-size: 2em;
            text-align: center;
            margin: 10em 0;
        }

        p {
            padding: 0 2em;
        }

        .cols {
            display: flex;
            width: 100%;
        }

        .col {
            width: 33%;
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/observe.jpg);
            background-size: cover;
            background-position: center;
            height: 700px;
            margin: 0 0.05em;
        }

        .law {
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/sequre.jpg);
            transition: 1s ease;
            background-position: center;

            &:hover {
                width: 50%;
            }
        }

        .surveillance {
            transition: 1s ease;

            &:hover {
                width: 50%;
                backdrop-filter: blur(10px);
            }
        }

        .hunting {
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hunting.jpg);
            background-size: cover;
            background-position: center;
            transition: 1s ease;

            &:hover {
                width: 50%;
            }
        }

        .text-block {
            width: 40%;
            display: none;
        }
    }
}