@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&family=Cormorant+Garamond:wght@400;500;600;700&family=Josefin+Sans:wght@400;500;600;700&family=Jura:wght@400;500;600;700&family=Montserrat:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1200px;
    z-index: -1;
}

.header {
    font-size: 2em;
    font-weight: 400;
    z-index:  5;
}

.section-header {
    font-weight: 800;
    font-size: 5em;
    text-transform: uppercase;
}

.section-subheader {
    color:rgb(1, 54, 1);
}

.subheader-line {
    height: 2px;
    background-color: rgba(0, 255, 98, 0.5);
    margin: 2em 0;
}

.block-header {
    font-size: 1.2em;
    font-weight: 500;
}

.section-subheader {
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 800;
    color: rgb(156, 156, 156);
   // -webkit-text-stroke: 2px black;
}

.btn {
    text-decoration: none;
    color: rgb(0, 128, 0);

    img {
        width: 15px;
        margin-top: auto;
    }
}

.text {
    font-weight: 300;
}

.background {
    width: 100vw;
    height: 25em;
  //  z-index: -1;
}

.background-wrapper {
    display: flex;
    height: 20em;
    z-index: 0;
}


.bg-first {
    background: linear-gradient(rgba(87, 87, 87, 0.5), rgba(87, 87, 87, 0.5)), url('../img/slider1-min.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
   // display: none;
    z-index: -2;
    width: 100vw;
}

.bg-second {
    background: linear-gradient(rgba(87, 87, 87, 0.5), rgba(87, 87, 87, 0.5)), url('../img/7474-1.jpg');
    background-size: cover;
    background-position: center;  
    position: relative;
   // display: none;
    z-index: -2;
}

.bg-third {
    background: linear-gradient(rgba(87, 87, 87, 0.5), rgba(87, 87, 87, 0.5)), url('../img/BRD_0320-min.jpg');
    background-size: cover;
    background-position: center; 
    position: relative;
    // display: none;
     z-index: -2;
}

.bg-forth {
    background: linear-gradient(rgba(87, 87, 87, 0.5), rgba(87, 87, 87, 0.5)), url('../img/45634-min.png');
    background-size: cover;
    background-position: center; 
    position: relative;
   //  display: none;
     z-index: -2;
}

.active {
   // position: absolute;
    display: block;
    //z-index: -1;
}

.block {
   // position: absolute;
    display: block;
    //z-index: -1;
}



.absolute {
    position: absolute;
    z-index: -1;
}

section.home-screen {
    .navbar {
        display: flex;
        place-content: space-between;

        .logo {
            width: 70px;
            height: 70px;
        }
    }

    .primary-nav {
        display: flex;

        li {
            list-style-type: none;
            padding: 1em 2em;

            a {
                text-decoration: none;
                color: black;
            }
        }
    }

    .language-block {
        display: flex;

        .icon {
            width: 30px;
            height: 30px;
            margin: auto 0;
        }

        .language-selector {
            font-size: 1em;
            margin: auto 0;
        }
    }

    .hero-header {
        display: flex;
        place-content: space-between;
        margin-top: -1.5em;
        z-index: 100;

        .section-header {
            color: white;
            margin: 0;

            span {
                color: rgb(1, 54, 1);
            }
        }

        .icon-control {
            width: 70px;
            z-index: 100;
        }
    }

    .hero-body {
        display: flex;
        place-content: space-between;
        padding: 1em 0;

        .text {
            font-size: 2em;
            margin: 0;
        }
    }

    .secondary-nav {
        display: flex;
        place-content: space-between;
        padding: 4em 0;

        h3 {
            font-size: 1em;
            color: rgb(1, 54, 1);
        }

        .counter {
            font-size: 1.5em;
            color:rgb(1, 54, 1)
        }

        .block {
            padding: 0 1em;
            background-color: rgba(192, 192, 192, 0.3);
            border-bottom: 2px solid rgba(1, 54, 1, 0.3);
            transition: 0.5s;

            &:hover {
                background-color: rgba(192, 192, 192, 0.5);
                border-bottom: 2px solid rgba(1, 54, 1, 1);
            }
        }
    }
}

section.about {
  //  background: linear-gradient(white, rgb(52, 52, 52));
    .wrapper {
        display: flex;
        padding: 4em 0;
    }

    .subheader {
        color: green;
        font-weight: 600;
    }

    .col {
        width: 50%;
    }

    .text-col {
        position: relative;
    }

    .text-block {
        width: 70%;
        padding: 2em 3em;
    }

    .counter {
        position: absolute;
        margin: 0;
        font-size: 6em;
        font-weight: bold;
        color: rgba(122, 117, 117, 0.5);
       // margin-left: -0.5em;
    }

    .img {
        background: url(../img/main-block.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 70%;
        height: 400px;
        margin-left: auto;
        box-shadow: 2px 2px 10px rgb(187, 186, 186);
    }

    .standard-wrapper {
        .img {
            background: url(../img/mainblock_second.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0;
        }
    }

    .products-wrapper {
        .img {
            background: url(../img/mainblock-third.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}

section.products {
    background: linear-gradient(rgba(0, 0, 0, 0.7) 70%, rgba(55, 53, 53, 1)), url('../img/BRD_0320-min.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 10em 0;

    .text-block {
        width: 40%;
    }

    .text {
        font-size: 1.2em;
        font-weight: 200;
    }

    .btn {
        color: white;
    }

    .wrapper {
        display: flex;

        .wrapper-blocks {
            display: flex;
            place-content: space-between;
            padding-top: 4em;
            width: 100%;
        }
    }

    .block {
        width: 25%;
        background-color: rgba(77, 77, 77, 0.5);
        border-bottom: 4px solid rgba(0, 255, 98, 0.5);
        transition: 0.5s;

        &:hover {
            background-color: rgba(77, 77, 77, 0.8);
            
        }

        h3 {
            font-weight: 700;
            font-size: 1em;
            text-align: center;
            margin: 0;
            padding: 3em 1em;
            opacity: 100;
            transition: 0.5s;
        }
    }

    .nvd {
        border-bottom: 4px solid rgba(73, 2, 52, 0.5);

    
    }

    .pmt {
        border-bottom: 4px solid rgba(2, 69, 192, 0.5);
        
    }

    .equip {
        border-bottom: 4px solid rgba(0, 177, 162, 0.5);

    }
}

section.subcatalog_2 {
    //background: rgb(55, 53, 53);
    box-sizing: border-box;

    .secondary-nav {
        display: flex;
        place-content: space-between;
        padding: 4em 0;
        padding-top: 0;
        margin-top: -8em;

        h3 {
            font-size: 1em;
            color: rgb(1, 54, 1);
        }

        .counter {
            font-size: 1.5em;
            color:rgb(1, 54, 1)
        }

        .block {
            padding: 0 1em;
            background-color: rgb(238, 238, 238);
            border-bottom: 2px solid rgba(1, 54, 1, 0.3);
            transition: 0.5s;
            width: 25%;

            &:hover {
                background-color: rgba(192, 192, 192, 0.7);
                border-bottom: 2px solid rgba(1, 54, 1, 1);
            }
        }
    }

    .arrow-down {
        width: 70px;
        margin: auto 0;
    }

    // .block {
    //     display: flex;
    //     place-content: space-between;
    //    // border-top: 0.1em solid rgb(184, 184, 184);
    //     border-top: 0.1em solid rgb(0, 0, 0);
    // }

    .equip {
       // border-bottom: 1px solid rgb(182, 182, 182);
        border-bottom: 0.1em solid rgb(0, 0, 0);
    }

    .little_text {
        color: green; 
        display: inline-block;
    }

    .icon {
        width: 60px;
        height: 60px;
        margin: auto 0;
    }

    h3 {
       // color: rgb(100, 100, 100);
        color:rgb(1, 54, 1);
        margin: 0;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 2.5em;
        padding: 0.5em 0;
        display: inline-block;
    }

    .nvd, .equip {
      //  text-align: right;
    }
}

// Раздел ЭОП
.items-block__background {
    height: 15em;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/BRD_0320-min.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 4em;
}

.items-block_tube {
  //  background-color: #e1f7cf;
}

.header-block__header {
    font-size: 4em;
    margin: 0;
    text-transform: uppercase;
}

.header-block__header_first-line {
  //  -webkit-text-stroke: 2px black;
    color: white;
    margin-top: -1.25em;
}

.header-block__header_second-line {
    color:rgb(1, 54, 1);
    text-align: right;
}

.description-block_flex {
    display: flex;
    place-content: space-between;
}

.description-block__background {
    width: 100%;
    height: 700px;
    margin: 0 10em;

    background: linear-gradient(white, rgba(226,0,255,0.5), rgba(255,0,95,0.5));

 //   background: rgb(226,0,255);
  //  background: -moz-linear-gradient(135deg, rgba(226,0,255,0.5) 22%, rgba(255,0,95,0.5) 86%);
  //  background: -webkit-linear-gradient(135deg, rgba(226,0,255,0.5) 12%, rgba(255,0,95,0.5) 86%);
   // background: linear-gradient(135deg, rgba(226,0,255,0.5) 12%, rgba(255,0,95,0.5) 86%);
   // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e200ff",endColorstr="#ff005f",GradientType=1);
}

.body-block__front-image {
    margin: 0 auto;
    display: block;
    margin-top: -25em;
}

.description-block {
    //width: 500px;
    padding: 4em 0;
   // margin-left: auto;
}

.description-text {
    font-size: 1.5em;
    font-weight: 400;
}

.description-text__span_cursiv {
    font-style: Italic;
    font-weight: 400;
    font-size: 1.2em;
    color:rgb(1, 54, 1);
}

.description-text__span_green {
    font-style: Italic;
    font-weight: 400;
    font-size: 1.2em;
    color:rgb(1, 54, 1);
}

.button {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    color:rgb(1, 54, 1);
    text-transform: uppercase;
    border: 1px solid rgb(1, 54, 1);
    padding: 2.8em 1em;
    border-radius: 20em;
}

.body-block_flex {
    display: flex;
    place-content: space-between;
}

.body-block__item {
    padding: 3em 4em;

    &:hover {
        background: linear-gradient(rgba(46, 46, 46, 0.5), rgba(46, 46, 46, 0.5)), url('../img/7474-1.jpg');
        background-size: cover;
        background-position: center;
        color: white;

        .body-block__text {
            color: white;
        }

        .body-block__item__inner-block {
            backdrop-filter: blur(10px);
        }
    }
}

.body-block__item_border {
  //  border-left: 1px solid rgb(220, 220, 220);
  //  border-right: 1px solid rgb(220, 220, 220);
  //  padding: 0 4em;
}

.body-block__item__inner-block__image {
    width: 200px;
    padding: 0 2em;
    padding-top: 2em;
    display: block;
}

.body-block__item__inner-block__image_arrow {
    margin-left: auto;
    display: block;
}

.body-block__item__inner-block {
    background-color: #8be2bc8e;
   box-shadow: 0px 5px 10px rgb(162, 162, 162);
   border-radius: 0.5em;
   //backdrop-filter: blur(10px);
  //  background: linear-gradient(rgb(255, 255, 255), rgb(69, 196, 101));
  //  background: rgba(255,201,0,0.5);
   // background: -moz-linear-gradient(135deg, rgba(255,201,0,0.5) 0%, rgba(255,0,121,0.5) 100%);
  //  background: -webkit-linear-gradient(135deg, rgba(255,201,0,0.5) 0%, rgba(255,0,121,0.5) 100%);
  //  background: linear-gradient(135deg, rgba(255,201,0,0.5) 0%, rgba(255,0,121,0.5) 100%);
   // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc900",endColorstr="#ff0079",GradientType=1);
    transition: all 1s;

    &:hover {
       // background: rgba(255,201,0,0.3);
       // background: -moz-linear-gradient(135deg, rgba(255,201,0,0.5) 0%, rgba(255,0,121,0.5) 100%);
        // background: -webkit-linear-gradient(135deg, rgba(255,201,0,0.5) 0%, rgba(128, 65, 94, 0.5) 100%);
        background: linear-gradient(135deg, rgba(255,201,0,0.5) 0%, rgba(255,0,121,0.5) 100%);
      //  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc900",endColorstr="#ff0079",GradientType=1);
    }
}

.body-block__item__inner-block_third-gen {
  //  background-color: rgba(0, 255, 98, 0.5);
  //  background: rgb(0,255,162);
  //  background: -moz-linear-gradient(135deg, rgba(0,255,162,0.5) 24%, rgba(0,215,255,0.5) 100%);
  //  background: -webkit-linear-gradient(135deg, rgba(0,255,162,0.5) 24%, rgba(0,215,255,0.5) 100%);
  //  background: linear-gradient(135deg, rgba(0,255,162,0.5) 24%, rgba(0,215,255,0.5) 100%);
  //  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffa2",endColorstr="#00d7ff",GradientType=1);

    &:hover {
        background: rgb(0,255,162);
        background: -moz-linear-gradient(135deg, rgba(0,255,162,0.5) 24%, rgba(0,215,255,0.5) 100%);
        background: -webkit-linear-gradient(135deg, rgba(0,255,162,0.5) 24%, rgba(0,215,255,0.5) 100%);
        background: linear-gradient(135deg, rgba(0,255,162,0.5) 24%, rgba(0,215,255,0.5) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffa2",endColorstr="#00d7ff",GradientType=1);  
    }
}

.body-block__item__inner-block_custom {
  //  background-color: rgba(0, 255, 98, 0.5);
  //  background: rgb(255,252,0);
  //  background: -moz-linear-gradient(135deg, rgba(255,252,0,0.5) 10%, rgba(0,244,94,0.5) 35%, rgba(0,196,233,0.5) 59%, rgba(255,0,95,0.3) 82%);
  //  background: -webkit-linear-gradient(135deg, rgba(255,252,0,0.5) 10%, rgba(0,244,94,0.5) 35%, rgba(0,196,233,0.5) 59%, rgba(255,0,95,0.3) 82%);
  //  background: linear-gradient(135deg, rgba(255,252,0,0.5) 10%, rgba(0,244,94,0.5) 35%, rgba(0,196,233,0.5) 59%, rgba(255,0,95,0.3) 82%);
  //  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffc00",endColorstr="#ff005f",GradientType=1);

    &:hover {
        background: rgb(255,252,0);
        background: -moz-linear-gradient(135deg, rgba(255,252,0,0.5) 10%, rgba(0,244,94,0.5) 35%, rgba(0,196,233,0.5) 59%, rgba(255,0,95,0.5) 82%);
        background: -webkit-linear-gradient(135deg, rgba(255,252,0,0.5) 10%, rgba(0,244,94,0.5) 35%, rgba(0,196,233,0.5) 59%, rgba(255,0,95,0.5) 82%);
        background: linear-gradient(135deg, rgba(255,252,0,0.5) 10%, rgba(0,244,94,0.5) 35%, rgba(0,196,233,0.5) 59%, rgba(255,0,95,0.5) 82%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffc00",endColorstr="#ff005f",GradientType=1);
    }
}

.body-block__header {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0;
}

.body-block__text {
    font-weight: 600;
    font-size: 1.3em;
    margin-top: 0;
    color:rgba(1, 54, 1, 1);
}

// Конец раздела ЭОП

.item-tube {

    .wrapper {
        display: flex;
    }

    .text-col {
        padding: 0 2em;
        margin: auto 0;

        .text {
            font-size: 1em;
        }
    }

    .blocks-wrapper {
        display: flex;

        .img-tube {
            width: 250px;
        }

        .col {
            padding: 2em 0;
            margin: 0 0.1em;
            text-align: center;
            background: rgba(255,201,0,0.3);
            background: -moz-linear-gradient(135deg, rgba(255,201,0,0.3) 0%, rgba(255,0,121,0.3) 100%);
            background: -webkit-linear-gradient(135deg, rgba(255,201,0,0.3) 0%, rgba(255,0,121,0.3) 100%);
            background: linear-gradient(135deg, rgba(255,201,0,0.3) 0%, rgba(255,0,121,0.3) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc900",endColorstr="#ff0079",GradientType=1);
            transition: all 1s;

            &:hover {
                background: rgba(255,201,0,0.3);
                background: -moz-linear-gradient(135deg, rgba(255,201,0,0.5) 0%, rgba(255,0,121,0.5) 100%);
                background: -webkit-linear-gradient(135deg, rgba(255,201,0,0.5) 0%, rgba(128, 65, 94, 0.5) 100%);
                background: linear-gradient(135deg, rgba(255,201,0,0.5) 0%, rgba(255,0,121,0.5) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc900",endColorstr="#ff0079",GradientType=1);
            }
        }

        .third-gen {
            background: rgb(0,255,162);
            background: -moz-linear-gradient(135deg, rgba(0,255,162,0.3) 24%, rgba(0,215,255,0.3) 100%);
            background: -webkit-linear-gradient(135deg, rgba(0,255,162,0.3) 24%, rgba(0,215,255,0.3) 100%);
            background: linear-gradient(135deg, rgba(0,255,162,0.3) 24%, rgba(0,215,255,0.3) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffa2",endColorstr="#00d7ff",GradientType=1);

            &:hover {
                background: rgb(0,255,162);
                background: -moz-linear-gradient(135deg, rgba(0,255,162,0.5) 24%, rgba(0,215,255,0.5) 100%);
                background: -webkit-linear-gradient(135deg, rgba(0,255,162,0.5) 24%, rgba(0,215,255,0.5) 100%);
                background: linear-gradient(135deg, rgba(0,255,162,0.5) 24%, rgba(0,215,255,0.5) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffa2",endColorstr="#00d7ff",GradientType=1);  
            }
        }

        .custom {
            background: rgb(255,252,0);
            background: -moz-linear-gradient(135deg, rgba(255,252,0,0.3) 10%, rgba(0,244,94,0.3) 35%, rgba(0,196,233,0.3) 59%, rgba(255,0,95,0.3) 82%);
            background: -webkit-linear-gradient(135deg, rgba(255,252,0,0.3) 10%, rgba(0,244,94,0.3) 35%, rgba(0,196,233,0.3) 59%, rgba(255,0,95,0.3) 82%);
            background: linear-gradient(135deg, rgba(255,252,0,0.3) 10%, rgba(0,244,94,0.3) 35%, rgba(0,196,233,0.3) 59%, rgba(255,0,95,0.3) 82%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffc00",endColorstr="#ff005f",GradientType=1);

            &:hover {
                background: rgb(255,252,0);
                background: -moz-linear-gradient(135deg, rgba(255,252,0,0.5) 10%, rgba(0,244,94,0.5) 35%, rgba(0,196,233,0.5) 59%, rgba(255,0,95,0.5) 82%);
                background: -webkit-linear-gradient(135deg, rgba(255,252,0,0.5) 10%, rgba(0,244,94,0.5) 35%, rgba(0,196,233,0.5) 59%, rgba(255,0,95,0.5) 82%);
                background: linear-gradient(135deg, rgba(255,252,0,0.5) 10%, rgba(0,244,94,0.5) 35%, rgba(0,196,233,0.5) 59%, rgba(255,0,95,0.5) 82%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffc00",endColorstr="#ff005f",GradientType=1);
            }
        }
    }
}

.new_tube {
    background: rgb(55, 53, 53);
    z-index: -5;

    .container {
      position: relative;
      z-index: 99;
    }

    .background-wrapper-section {
        display: flex;
        height: 800px;
        z-index: 99;
        
        .background-line {
            width: 15%;
            background-color: rgb(55, 53, 53);
        }

        .background-image {
            width: 85%;
            background: linear-gradient(rgba(0, 0, 0, 0.268), rgba(0, 0, 0, 0.7)), url('../img/BRD_0643.jpg');
            background-size: cover;
        }
    }

    .header-description-block {
        position: absolute;
        top: 0;
        color: white;
        padding-top: 10em;
        width: 60%;

        .subwrapper {
            display: flex;
            place-content: space-between;

            .text {
                width: 50%;
                margin: 0;
                font-weight: 300;
                font-size: 1.2em;
            }
        }

        .section_header {
            text-transform: uppercase;
            font-size: 3.5em;
            font-weight: 800;
            border-top: 3px solid rgb(7, 197, 109);
            margin-top: 0;
            padding-bottom: 0.5em;
            position: relative;

            &:after {
                content: '';
                background: rgb(7, 197, 109);
                position: absolute;
                bottom: 0;
                left: 0;
                height: 1px;
                width: 50%;
            }
        }

        .btn {
            color: white;
        }
    }

    .absolute_block {
        position: absolute;
        right: 0;
        top: 0;
        width: 300px;
        height: 700px;
        z-index: 99;
        background: rgba(10, 10, 10, 0.755);
        backdrop-filter: blur(10px);
        color: white;
        padding: 3em 1em;

        .little_header {
            border-top: 2px solid white;
            font-weight: 200;
            padding-top: 0.5em;
        }

        img {
            width: 200px;
            height: 200px;
            margin: 0 auto;
            display: block;
        }

        .generations {
           
          //  margin-top: -8em;

            h3 {
                margin: auto 0;
            }
        }
        
        .big_figure {
            font-size: 12em;
            font-weight: 800;
            color: rgba(255, 255, 255, 0.159);
           // backdrop-filter: blur(10px);
            background-clip: text;
            -webkit-background-clip: text;
            background-image: linear-gradient(rgba(255, 0, 0, 0.2), rgba(0, 0, 255, 0.2));
            
            &:hover {
                background-image: linear-gradient(rgba(255, 0, 0, 0.7), rgba(0, 0, 255, 0.7));
            }

        }

        .genthree {
            background-image: linear-gradient(rgba(0, 0, 255, 0.323), rgba(0, 128, 0, 0.453));
            text-align: right;
            border-top: 1px solid rgba(128, 128, 128, 0.316);

            &:hover {
                background-image: linear-gradient(rgba(0, 0, 255, 0.7), rgba(0, 128, 0, 0.7));
            }
        }


    }

}

// Новый блок с подзаголовком меню

.subcatalog-header {
    .container {
        z-index: 5;
    }
}

.background-for-float-block {
    background: url('../img/BRD_0320-min.jpg');
    height: 35em;
    background-size: cover;
    background-position: center;
    z-index: -5;
   // padding-top: 15em;
     margin-top: 15em;

    // &:before {
    //     content: '';
    //     display: block;
    //     height: 15em;
    //     width: 100%;
    //     background: gray;
    // }
}

.float-block {
    //background: rgb(36, 36, 36);
    background: linear-gradient(rgb(255, 255, 255), white);
  //  width: 60%;
    margin: 0 auto;
    padding: 4em 2em;
    z-index: 5;
    margin-top: -43em;
    margin-bottom: 24em;
    border: 1px solid rgb(233, 233, 233);
   // border: 1px solid rgb(0, 55, 0);
    // box-shadow: 1px 1px 0px 0px rgb(84, 84, 84);

    .btn {
        color:rgb(1, 54, 1);
        text-transform: uppercase;
        margin-left: 19em;
    }
}

.subcatalog__header {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3em;
    margin: 0;

    color: rgb(1, 54, 1);
    position: relative;
    padding-bottom: 0.5em;

    &:before {
        content: '';
        width: 400px;
        height: 1px;
        background: rgb(5, 191, 5);
        position: absolute;
    }

    &:after {
        content: '';
        width: 200px;
        height: 2px;
        background: rgb(5, 191, 5);
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.subcatalog__text {
    width: 400px;
    font-weight: 300;
    margin-left: 45em;
}

// Новые единообразные блоки
section.item-block-new {
  //  background:rgb(55, 53, 53);
   // background:rgb(255, 255, 255);
    padding-top: 6em;

    .text-col__header, .text-col__text, .btn {
        color: rgb(39, 39, 39);
    }

    .container {
        border-bottom: 1px solid rgb(191, 191, 191);
        padding-bottom: 6em;
    }
    
}

.item-block-new__wrapper {
    display: flex;
}

.text-col {
    width: 55%;
    z-index: 5;

    .btn {
        display: block;
        color: white;
        text-transform: uppercase;
        margin: 3em 0;
        font-weight: 500;
    }
}

.text-col_left {
   // text-align: right;
    margin-left: auto;

    .btn {
        text-align: right;
    }
}

.image-col {
    width: 45%;
    background: url('../img/BRD_0643.jpg');
    background-size: cover;
    background-position: left;
    position: relative;
}

.image-col_equip {
    background: url('../img/Photo1_8.JPG');
    background-size: cover;
}

.image-col__option {
    width: 100%;
    height: 200px;
    background: url('../img/observe\ —\ копия.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.image-col__option_surv {
    background-position-y: 30%;
    background-position-x: 30%;
    background-size: 150%;
}

.image-col__option_law {
    background: url('../img/sequre\ —\ копия.jpg');
    background-size: 150%;
    background-position-y: 10%;
    background-position-x: 20%;
}

.image-col__option_hunt {
    background: url('../img/hunting.jpg');
    background-position-y: 25%;
}

.image-col_option__header {
    margin: 0;
    color: rgb(225, 225, 225);
    padding: 0.5em;
    font-size: 1.5em;
    font-weight: 200;
    text-transform: uppercase;
   // -webkit-text-stroke: 0.3px white;
  //  color: transparent;
}

.text-col__header {
    font-size: 3em;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: relative;
    margin: 0;
    margin-top: 1em;
}

.text-col__header_wide {
    //width: 700px;
   // position: absolute;
    float: right;
    margin-bottom: 0.3em;
    padding-left: 2.5em;

}

.text-col_relative {
    position: relative;
}

.text-col__header_lines {
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 300px;
        height: 1px;
        background: rgb(0, 128, 0);
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        width: 550px;
        height: 2px;
        background: rgb(0, 128, 0);
    }
}

.text-col__header_lines_right {
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 300px;
        height: 1px;
        background: rgb(0, 128, 0);
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 550px;
        height: 2px;
        background: rgb(0, 128, 0);
    }
}

.text-col__text {
    color: white;
    width: 375px;
    font-weight: 200;
}

.text-col__text_padding {
    padding: 1em 0;
}

.image-col__vertical-line {
    position: absolute;
    backdrop-filter: blur(10px);
    height: 100%;
    background:rgba(55, 53, 53,0.5);
    padding: 2em 1em;
    box-sizing: border-box;
    width: 300px;
    color: white;

}

.image-col__vertical-line_right {
    right: 0;
}

.image-col__vertical-line_left {
    left: 0;
}

.image-col__little-header {
    font-weight: 300;
    position: relative;
    padding-top: 0.5em;

    &:before {
        content: '';
        width: 250px;
        height: 1px;
        position: absolute;
        top: 0;
        background: white;
    }
}

.image-col__vertical-line__application {
    padding: 1em 3em;
    display: flex;
}

.image-col__vertical-line__application_right {
  // text-align: right;
  // padding-right: 2em;
}

.image-col__vertical-line__application_left {
  //  padding-left: 2em;
}

.application__icon {
    width: 50px;
}

.application__header {
    text-transform: uppercase;
    padding-left: 1em;
    font-weight: 200;
   // display: inline-block;
}

.big-figure {
    font-weight: 800;
    font-size: 8.5em;
    margin: 0;
}

.big-figure_third {
    border-top: 1px solid gray;
    color: rgba(255, 255, 255, 0.159);
    text-align: right;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(rgba(0, 0, 255, 0.8), rgba(0, 128, 0, 0.8));
}

.big-figure_second {
    color: rgba(255, 255, 255, 0.159);
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(rgba(255, 0, 0, 0.8), rgba(0, 0, 255, 0.8));
}

.image-col__text {
    color: white;
    text-decoration: none;
    font-weight: 300;
    position: relative;
    padding-top: 0.5em;

    &:before {
        content: '';
        width: 250px;
        height: 1px;
        position: absolute;
        top: 0;
        background: white;

    }
}

//


.new_pmt {
  //  padding: 4em 0;
    color: black;
    background: white;
    position: relative;

    .background-wrapper-section {
        
        .background-line {
            width: 15%;
            background-color: white;
        }

        .background-image {
            width: 75%;
            background: url('../img/ufgbfg5d22d-300x300.png');
            background-size: 40%;
            background-repeat: no-repeat;
            background-position: bottom center;
        }
    }

    .header-description-block {
        right: 0;
        color: black;

        .btn {
            color: black;
        }
    }

    .absolute_block {
        position: absolute;
        left: 0;
        top: 0;
        width: 300px;
        height: 900px;
        z-index: 99;
        background: rgba(94, 94, 94, 0.755);
        backdrop-filter: blur(10px);
        color: white;
        padding: 3em 1em;

        .little_header {
            border-top: 2px solid white;
            font-weight: 200;
            padding-top: 0.5em;
        }

        

        .generations {
           
          //  margin-top: -8em;

            h3 {
                margin: auto 0;
            }
        }
        
    }

}

.item-pmt {
    color: black;
    background: white;

    .block-header {
        font-weight: 200;
    }

    .text {
        font-size: 1.1em;
    }

    .subheader-line {
        background-color: rgba(0, 110, 255, 0.5);
    }

    .btn {
        color: white;
    }

    .icon {
        width: 50px;
    }
    .wrapper {
        display: flex;
        background-color: gray;
        color: white;
        margin-top: 8em;  
        padding: 2em 0;

        .info-block {
            width: 55%;
            padding: 2em 2em 0 2em;
        }

        .text {
            width: 90%;
        }


        .header {
            text-align: center;
            text-transform: uppercase;
            font-weight: 300;
            padding-top: 2em;
        }

        .applications {
            display: flex;
        }

        .wrapper-applications {
            display: flex;
            width: 100%;
            place-content: center;
        }

        .block {
            text-align: center;
            padding: 0 3em;
        }

        .img {
    
            margin-top: -7em;
            background: rgb(226,0,255);
            background: -moz-linear-gradient(135deg, rgba(226,0,255,1) 12%, rgba(255,0,95,1) 86%);
            background: -webkit-linear-gradient(135deg, rgba(226,0,255,1) 12%, rgba(255,0,95,1) 86%);
            background: linear-gradient(135deg, rgba(226,0,255,1) 12%, rgba(255,0,95,1) 86%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e200ff",endColorstr="#ff005f",GradientType=1);

            img {
                width: 300px;
                margin: 8em 3em;
            }
        }
    }
}

.item-nvd {

    .wrapper-main {
        display: flex;
    }

    .header {
        text-transform: uppercase;
    }

    .info-block {
        width: 30%;
        padding: 1em;
    }

    .subheader-line {
        background-color: rgb(225, 0, 255);
    }

    .wrapper {
        display: flex;
        place-content: space-between;
        width: 70%;

        .btn {
            color: white;
        }

        .block-counter {
            font-size: 3em;
            font-weight: 300;
            color: rgb(225, 0, 255);
            margin-top: 0;
        }

        .block-header {
            font-size: 1em;
            text-transform: uppercase;
            color: white;
        }

        .text-block {
            background-color: rgba(54, 54, 54, 0.5);
            padding: 2em 1em; 
            margin-top: 15em;
        }

        .block {
            width: 33%;
            background: url(../img/observe.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .hunt {
            background: url(../img/hunting.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .law {
            background: url(../img/sequre.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

.item-equip {

    .block-header {
        font-weight: 200;
    }

    .text {
        font-size: 1.1em;
    }

    .header {
        text-align: left;
        text-transform: uppercase;
        font-weight: 300;
        padding-top: 1em;
    }

    .item-list {
        li {
            list-style-type: none;
            position: relative;
            padding: 0.5em 0;
            margin: auto 0;

            &::before {
                content: '';
                width: 30px;
                height: 30px;
                background-image: url('../img/outline_arrow_circle_right_white_48dp.png');
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                left: -2em;
            }
        }
    }

    .subheader-line {
        background-color: rgb(0, 255, 213);
    }

    .btn {
        color: white;
    }

    .icon {
        width: 50px;
    }
    .wrapper {
        display: flex;
        background-color: gray;
        color: white;
        margin-top: 8em;  
        padding: 2em 0;

        .info-block {
            width: 50%;
            padding: 2em 4em;
            margin: auto 0;
        }

        .text {
            width: 90%;
        }

        .img {
            background: url(../img/Photo1_8.JPG);
            background-size: cover;
            width: 450px;
            height: 550px;
            background-position: center;
            margin: 0 1em;
            margin-top: -6.5em;
            margin-left: 5em;
        }
    }
}

.contact-us {
    margin: 0;
    margin-bottom: 4em;

    .wrapper {
        display: flex;
        place-content: space-between;
        padding: 2em 0;
    }

    .contact-background {
        width: 100%;
        height: 20em;
        background: linear-gradient(rgba(131, 52, 52, 0.5), rgba(87, 87, 87, 0.5)), url('../img/contacts-header123.jpg');
        background-size: cover;
        background-position: center;
    }

    h1 {
        margin-top: -1.25em;
        margin-bottom: 0;
        color: rgb(1, 54, 1);
    }

    span {
        color: white;
    }

    .text {
        font-size: 1em;
        margin: 0;
    }
}

.transition {
    height: 10em;
    width: 100%;
    background: linear-gradient(#373535, white);
}

footer {

    background: linear-gradient(rgba(0, 0, 0, 1), rgba(58, 58, 58, 0.97)), url('../img/BRD_0320-min\ —\ copy.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 0;
    padding-bottom: 2em;

    .wrapper {
        display: flex;
        place-content: space-between;
        border-bottom: 1px solid gray;
        padding: 2em 0;

        .icon {
            width: 30px;
            height: 30px;
            margin: auto 0;
            margin-right: 1em;
        }

        .logo {
            width: 80px;
        }

        .left-col, .right-col, .contact-block {
            display: flex;
        }

        .contact-block {
            padding: 0 2em;
            h3 {
                text-transform: lowercase;
            }
        }

        .right-col, .left-col {

            h3 {
                font-size: 1.5em;
            }
        }

        h3 {
            text-transform: uppercase;
            font-size: 1.5em;
            font-weight: 300;
        }

        .left-col {
            h3 {
                text-transform: uppercase;
            }
        }

        ul {

            padding-left: 0;

            li {
                list-style-type: none;
                padding: 0.2em 0;

                a {
                    text-decoration: none;
                    color: rgb(180, 180, 180);
                }
            }
        }

        .address {
            width: 30%;

            .text {
                color: rgb(180, 180, 180);
            }
        }
    }

    .contact-body {
        padding: 5em 0;
    }
}