@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: 1200px;
  z-index: -1;
}

.header {
  font-size: 2em;
  font-weight: 400;
  z-index: 5;
}

.section-header {
  font-weight: 800;
  font-size: 5em;
  text-transform: uppercase;
}

.section-subheader {
  color: #013601;
}

.subheader-line {
  height: 2px;
  background-color: rgba(0, 255, 98, 0.5);
  margin: 2em 0;
}

.block-header {
  font-size: 1.2em;
  font-weight: 500;
}

.section-subheader {
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 800;
  color: #9c9c9c;
}

.btn {
  text-decoration: none;
  color: green;
}

.btn img {
  width: 15px;
  margin-top: auto;
}

.text {
  font-weight: 300;
}

.background {
  width: 100vw;
  height: 25em;
}

.background-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20em;
  z-index: 0;
}

section.home-screen {
  background: -webkit-gradient(linear, left top, left bottom, from(#1a1a1a), to(transparent)), url("../img/subtle-prism_main.svg");
  background: linear-gradient(#1a1a1a, transparent), url("../img/subtle-prism_main.svg");
  background-size: cover;
}

section.home-screen .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

section.home-screen .navbar .logo {
  width: 70px;
  height: 70px;
}

section.home-screen .primary-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.home-screen .primary-nav li {
  list-style-type: none;
  padding: 1em 2em;
  color: white;
}

section.home-screen .primary-nav li a {
  text-decoration: none;
  color: white;
}

section.home-screen .language-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.home-screen .language-block .icon {
  width: 30px;
  height: 30px;
  margin: auto 0;
}

section.home-screen .language-block .language-selector {
  font-size: 1em;
  margin: auto 0;
  color: white;
}

section.home-screen .hero-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  margin-top: -1.5em;
  z-index: 100;
  margin-bottom: 10em;
}

section.home-screen .hero-header .section-header {
  color: white;
  margin: 0;
}

section.home-screen .hero-header .section-header span {
  color: #013601;
}

section.home-screen .hero-header .icon-control {
  width: 70px;
  z-index: 100;
}

section.home-screen .hero-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  padding: 1em 0;
}

section.home-screen .hero-body .text {
  font-size: 2em;
  margin: 0;
}

.background-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  z-index: -5;
}

.background-wrapper .color-line {
  width: 40%;
  height: 630px;
}

.background-wrapper .photo-line {
  width: 60%;
  height: 630px;
  background: url("../img/BRD_0643.jpg");
  background-size: cover;
}

.header-text-block {
  color: white;
  width: 900px;
  padding: 3em 0;
  position: relative;
}

.header-text-block .text-block-header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.5em;
  position: relative;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  z-index: 1;
}

.header-text-block .text-block-header:after {
  content: '';
  width: 900px;
  height: 2px;
  background: #03b703;
  position: absolute;
  top: 0;
  left: 0;
}

.header-text-block .text-block-header:before {
  content: '';
  width: 450px;
  height: 1px;
  background: #03b703;
  position: absolute;
  bottom: 0;
  left: 0;
}

.header-text-block .text {
  width: 400px;
  font-size: 1.2em;
  font-weight: 200;
}

.header-text-block .big-photo_background {
  position: absolute;
  top: 27em;
  left: 25em;
  z-index: 0;
}

.facts {
  background-size: cover;
}

.facts:before {
  content: '';
  display: block;
  width: 100%;
  height: 20px;
}

.facts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  position: relative;
  padding: 4em 0;
}

.facts-wrapper .facts-block {
  margin: auto 0;
}

.facts-wrapper .facts-block-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.facts-wrapper .facts-block-wrapper p {
  padding-right: 1em;
}

.facts-wrapper .big-photo {
  width: 450px;
  position: absolute;
  right: 0em;
  top: 0em;
}

.facts-wrapper .facts-block {
  padding-right: 2em;
  padding-left: 2em;
  width: 200px;
  border-right: 1px solid green;
}

.facts-wrapper .facts-block .facts-block-header {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.5em;
}

section.catalog {
  margin-top: 6em;
  margin-bottom: 6em;
}

.catalog-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-header .catalog-header-block {
  margin-right: 2em;
  border-bottom: 1px solid gray;
}

.catalog-header .catalog-header-block-header {
  font-size: 2em;
  font-weight: 400;
  color: gray;
  margin-bottom: 0;
}

.catalog-header .catalog-header-block-subheader {
  color: gray;
}

.catalog-header .catalog-header-block-subheader-active {
  color: black;
}

.catalog-header .catalog-header-block-header-active {
  color: #013601;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2em 0;
}

.catalog-list a {
  text-decoration: none;
}

.catalog-list .catalog-list-block {
  padding: 1em;
  border-bottom: 2px solid #cdcdcd;
  width: 25%;
}

.catalog-list .catalog-list-block:hover {
  border-bottom: 2px solid #013601;
}

.catalog-list .catalog-list-block:hover .catalog-list-block-header {
  color: #013601;
}

.catalog-list .catalog-list-image-block {
  background: #efefef;
}

.catalog-list .catalog-list-image-block img {
  padding: 5em 2em;
  width: 200px;
}

.catalog-list .catalog-list-block-header {
  font-size: 1.5em;
  color: #4a4a4a;
}

.catalog-custom {
  padding: 7em 0;
  margin: 7em 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(23, 23, 23, 0.6))), url("../img/BRD_0373.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(23, 23, 23, 0.6)), url("../img/BRD_0373.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.catalog-custom .catalog-custom-header {
  font-size: 3em;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  padding: 0.1em 0;
}

.catalog-custom .catalog-custom-header:after {
  content: '';
  width: 800px;
  height: 2px;
  background: #03b703;
  position: absolute;
  top: 0;
  left: 0;
}

.catalog-custom .catalog-custom-header:before {
  content: '';
  width: 450px;
  height: 1px;
  background: #03b703;
  position: absolute;
  bottom: 0;
  left: 0;
}

.catalog-custom .catalog-custom-subheader {
  width: 450px;
  font-size: 1.2em;
  font-weight: 300;
}

.catalog-custom .btn {
  text-transform: uppercase;
  color: white;
  font-weight: 600;
}

footer {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(87, 87, 87, 0.8))), url("../img/BRD_0320-min — copy.jpg");
  background: linear-gradient(black, rgba(87, 87, 87, 0.8)), url("../img/BRD_0320-min — copy.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding-top: 0;
  padding-bottom: 2em;
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  border-bottom: 1px solid gray;
  padding: 2em 0;
}

footer .wrapper .icon {
  width: 30px;
  height: 30px;
  margin: auto 0;
  margin-right: 1em;
}

footer .wrapper .logo {
  width: 80px;
}

footer .wrapper .left-col, footer .wrapper .right-col, footer .wrapper .contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .wrapper .contact-block {
  padding: 0 2em;
}

footer .wrapper .contact-block h3 {
  text-transform: lowercase;
}

footer .wrapper .right-col h3, footer .wrapper .left-col h3 {
  font-size: 1.5em;
}

footer .wrapper h3 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 300;
}

footer .wrapper .left-col h3 {
  text-transform: uppercase;
}

footer .wrapper ul {
  padding-left: 0;
}

footer .wrapper ul li {
  list-style-type: none;
  padding: 0.2em 0;
}

footer .wrapper ul li a {
  text-decoration: none;
  color: #b4b4b4;
}

footer .wrapper .address {
  width: 30%;
}

footer .wrapper .address .text {
  color: #b4b4b4;
}

footer .contact-body {
  padding: 5em 0;
}
/*# sourceMappingURL=pmt.css.map */